body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.maincontainer {
    max-width: 600px;
    height: 800px;
    max-height: 1000px;
    margin: 50px auto;
    padding: 20px;  
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*estilos de la barra de opciones */
.menubar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
    color: white;
    padding: 10px 10px;
    width: auto;
    z-index: 1000;
}
.menubar .actions {
    display: flex;
}

.menubar .actions .action-btn:hover {
    background-color: #555;
}
.content {
    padding: 80px 20px; /* Add padding to avoid overlap with fixed navbar */
}

/*imagenes del menubar */

.menubar-logo {
    height: 40px;
    width: auto;
    padding: 0px 10px 0px 10px;
}
.spacer {
    height: 40px;
    width: 250px;
    padding: 0px 10px 0px 10px;
}
/*accioens del menubar */
.btn-user {
    height: 40px;
    width: auto;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}
.btn-configuration {
    height: 40px;
    width: auto; 
}

.btn-support {
    height: 40px;
    width: auto;
}


/*estilos del navbar contenedor de pestanas */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 5px;
    width: auto;
    z-index: 1000;
}
.navbar .tabs {
    display: flex;
}
.navbar .tabs .tab {
    margin-right: 15px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border-radius: 20px;
}
.navbar .tabs .tab:hover {
    background-color: #555;
}
.navbar .tabs .tab.active {
    background-color: #222;
}

.tabs {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: start; /* centrar horizontalmente */
    justify-items: right;
    background-color: #333;
    max-width: 100%;
    gap: 6px;
}
.tab {
    grid: 1;
    aspect-ratio: 1 / 1;
    text-align: center;
    font-size: 12px;
    color: white;
    cursor: pointer;
    background-color: #555;
}
.icons {
    height: 40px;
    width: auto; /* Mantén la proporción del logotipo */
    vertical-align: middle;

}
.tab:hover {
    background-color: #555;
}
.tab.active {
    background-color: #555;
}
.content {
    padding: 20px;
    display: none;
}
.content.active {
    display: block;
}
